<main id="admin" role="main">

    <h2>admin panel</h2>

    <a href="/admin"><i class="fa-solid fa-hand-point-left"></i> back to admin panel</a>

    <section>

        <% posts.forEach(el => { %>
            <article>
            
                <h3><%= el.Title%></h3>
                <p><%= el.Contents.substring(0,30)%>...</p>
                <p><%= el.FirstName%> <%= el.LastName%></p>
                <p><%= el.Category_Name%></p>
             

                <a href="edit_post/<%= el.Id%>">edit</a>
                <a href="delete_post/<%= el.Id%>">delete</a>

            </article>

        <% }) %>

    </section>

</main>