
<article>
    <h2><%= post.Title%></h2>
    <p><%= post.Contents%></p>
    <p><%= post.FirstName %> <%= post.LastName %></p>

   
    
</article>

<section>

    <% if(comments.length){ %>
        
        <% comments.forEach(comment => { %>
            <h3><%= comment.NickName%></h3>
            <p><%= comment.Contents%></p>
            <p><%= comment.CreationTimestamp.toLocaleDateString()%></p>
        <% }) %>

    <% } %> 
    
    <hr>

<form action="/blog/add_comment/<%= post.Id%>" method="post">
    <input type="text" name="NickName" placeholder="Your Alias">
    <textarea name="Content" placeholder="Your message"></textarea>
    <input type="submit">

</form>

</section>